<div class="box">
	<div class="header" style="clear: both; overflow: hidden;">
		<div class="left" style="float: left; width: 45%">
			<strong>Please select a database</strong>
		</div>
		<div class="right" style="float: right; width: 45%; text-align: right; position: absolute; right: 16px; margin: -4px 0 0 0;">
			<form action="<?php echo SITE_ROOT; ?>database/add" method="post">
				<input type="text" name="databaseName" value="" /> 
				<input type="submit" name="_submit" value="Add Database" />
			</form>
		</div>
	</div>
	<ul class="list">
    <?php $i=0; ?>
	<?php foreach( $this->databases[ 'databases' ] as $key => $value ) { ?>
		<li<?php if( ++$i % 2 ) { ?> class="odd"<?php } ?> style="clear: both; overflow: hidden;">
			<a onclick="return confirm('Are you sure you want to drop this database? This action is irreversible');" href="<?php echo SITE_ROOT . 'database/drop/' . $value[ 'name' ]; ?>" style="width: none; float: left; width: 2%;">[x]</a>
			<a style="float: right; width: 98%;" href="<?php echo SITE_ROOT . 'database/set/' . $value[ 'name' ]; ?>"><?php echo $value[ 'name' ]; ?></a>
		</li>
	<?php } ?>
	</ul>
</div>
